        <footer>
            <nav class="navigation">
                <a href="../">
                    <svg width="38" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M62.808 866.392h-7.866V853.7h-4.75L66 839.45l15.808 14.25h-4.75v12.692h-7.866v-9.5h-6.384z"/></defs><g transform="translate(-47 -837)" fill="none"><use fill="#0E1111" xlink:href="#a"/><use stroke="#147A9A" stroke-width="3" fill="#FFF" xlink:href="#a"/></g></svg>
                </a>
                <a href="../matches">
                    <svg width="38" height="31" xmlns="http://www.w3.org/2000/svg"><path d="M26.269531 2.6875c2.622409 0 4.774731.766919 6.457031 2.300781C34.408863 6.522143 35.25 8.624987 35.25 11.296875c0 2.721368-1.014313 5.318998-3.042969 7.792969-1.979176 2.424491-4.45311 4.601553-7.421875 6.53125-1.187506.79167-2.300776 1.447263-3.339844 1.966797-1.039067.519533-1.781247.853515-2.226562 1.001953l-.59375.222656c-1.385424-.346356-3.438788-1.410147-6.160156-3.191406-2.968765-1.929697-5.442699-4.106759-7.421875-6.53125C3.014313 16.615873 2 14.018243 2 11.296875c0-2.671888.841137-4.774732 2.523438-6.308594C6.205738 3.454419 8.35806 2.6875 10.980469 2.6875c1.533862 0 3.005852.346351 4.416015 1.039062 1.410164.692712 2.486325 1.657546 3.228516 2.894532.742191-1.236986 1.818352-2.20182 3.228516-2.894532 1.410163-.692711 2.882153-1.039062 4.416015-1.039062z" fill="#FFF" fill-rule="nonzero" stroke="#147A9A" stroke-width="4"/></svg>
                </a>
                <a href="../profile-overview">
                    <svg width="32" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M363 868h-27c0-1.218756.046875-2.156247.140625-2.8125.187501-.937505 2.085919-2.085931 5.695313-3.445312.562502-.187501 1.242183-.421874 2.039062-.703126 1.07813-.375001 1.710937-.667967 1.898438-.878906.1875-.210938.28125-.832026.28125-1.863281V857.875c0-.562503-.210936-1.113279-.632813-1.652344-.421877-.539065-.749999-1.488274-.984375-2.847656-.09375-.468752-.234374-.843749-.421875-1.125-.187501-.281251-.374999-.843746-.5625-1.6875-.140626-.421877-.152344-.820311-.035156-1.195312.117188-.375002.175781-.609375.175781-.703126-.09375-.750003-.1875-1.523433-.28125-2.320312-.09375-1.07813.374995-2.238275 1.40625-3.480469C345.750005 841.621088 347.343739 841 349.5 841s3.749995.621088 4.78125 1.863281c1.031255 1.242194 1.5 2.402339 1.40625 3.480469-.09375.796879-.1875 1.570309-.28125 2.320312 0 .093751.058593.328124.175781.703126.117188.375001.10547.773435-.035156 1.195312-.187501.843754-.374999 1.406249-.5625 1.6875-.187501.281251-.328125.656248-.421875 1.125-.234376 1.359382-.562498 2.308591-.984375 2.847656-.421877.539065-.632813 1.089841-.632813 1.652344 0 1.406257.140624 2.203124.421876 2.390625.09375.09375 1.242176.539059 3.445312 1.335937.09375.046876.210937.09375.351562.140626 3.609394 1.359381 5.507812 2.507807 5.695313 3.445312L363 868z" id="a2"/></defs><g transform="translate(-334 -839)" fill-rule="nonzero" fill="none"><use fill="#000" xlink:href="#a2"/><use stroke="#147A9A" stroke-width="4" fill="#FFF" xlink:href="#a2"/></g></svg>
                </a>
            </nav>
        </footer>
        <script src="../js/index.js"></script>
    </body>
</html>


