<div class="top-info">
    <div class="name">
        <h1 class="title-xl black"><%= name %></h1>
        <h3 class="title-s black"><%= disability %></h3>
    </div>
    <div class="info">
        <p class="title-xl"><%= age %></p>
        <p class="body-s"><%= distance %></p>
    </div>
</div>
<img src="./images/girl.png" alt="A picture of a smiling girl">
<article>
    <div class="about">
        <div class="first-list">
            <h1 class="title-l blue">Hobby's</h1>
            <ul>
                <li class="body-m tv">Series kijken</li>
                <li class="body-m music">Muziek</li>
                <li class="body-m shopping">Kleding kopen</li>
            </ul>
        </div>
        <div class="second-list">
            <h1 class="title-l blue">Eigenschappen</h1>
            <ul>
                <li class="body-m">Extrovert</li>
                <li class="body-m">Gevoel voor humor</li>
                <li class="body-m">Erg geduldig</li>
                <li class="body-m">Brede interesses</li>
            </ul>
        </div>
    </div>
    <h2 class="title-s blue">Swipe voor profiel</h2>
</article>
