<nav class="header-nav">
    <a href="<%= firstAnchor %>" class="link">
        <h2 class="title-xl white"><%= firstLink %></h2>
    </a>
    <a href="<%= secondAnchor %>" class="link">
        <h2 class="title-xl white"><%= secondLink %> </h2>
    </a>
</nav>
