<% include partials/header %>
    <link rel="stylesheet" href="styles/_create-account.css">
</head>
<body class="create-account">
    <div class="privacy">
        <img src="./images/icons/lock.svg" alt="Icon of a green lock">
        <h2 class="title-l">Privacy disclaimer!</h2>
        <p class="body-s">Wij respecteren jouw privacy en snappen dat alle opgegeven informatie gevoelig is. Daarom versleutelen wij alle data met een 2048-bit RSA encryptie. Daarnaast zullen jouw gegevens nooit worden gebruikt voor iets anders dan het verbeteren van deze app.</p>
    </div>
    <div class="container">
        <img src="./images/logo-white.svg" alt="Logo I'm down.">
        <h1 class="title-xl">Fijn om een nieuw gezicht te zien.</h1>
        <p class="body-m">Registreer om toegang te krijgen tot alle functies.</p>
        <a href="/login" class="body-m">Toch al een account? <span>Klik dan hier</span></a>
        <div class="error"><p class="body-m white"><%=failedRegister%></p></div>

        <form method="POST" action="/register" enctype="multipart/form-data">
            <label for="firstName">Voornaam*</label>
            <input id="firstName" type="text" name="firstName" required>

            <label for="lastName">Achternaam*</label>
            <input id="lastName" type="text" name="lastName" required>

            <label for="email">Email*</label>
            <input id="email" type="email" name="email" required>

            <label for="password">Wachtwoord*</label>
            <input id="password" type="password" name="password" required>

            <div class="toggle">
                <label for="toggle">Ik ben een</label>
                <input id="boy" type="radio" class="tab" name="tab" value="man">
                <label class="label first" for="boy" class="radio-inline">Man</label>
                <input id="girl" type="radio" class="tab" name="tab" value="vrouw">
                <label class="label" for="girl" class="radio-inline">Vrouw</label>
                <input id="both" type="radio" class="tab" name="tab" value="beide">
                <label class="label last" for="both" class="radio-inline">Beide</label>
            </div>

            <label for="age">Ik ben ... jaar</label>
            <input id="age" type="text" name="age">

            <label for="address">Ik woon in</label>
            <input id="adress" type="text" name="address">

            <label for="select">Ik heb de volgende beperking</label>
            <select id="select" name="disability">
                <option value="autism">Autisme</option>
                <option value="down">Syndroom van down</option>
                <option value="fysical-arm">Fysieke beperkingen in arm(en)</option>
                <option value="fysical-leg">Fysieke beperkingen in be(e)n(en)</option>
                <option value="manic">Manisch</option>
            </select>

            <label for="hobbies">Mijn hobby's zijn</label>
            <textarea id="hobbies" name="hobbies" rows="5"></textarea>

            <label for="about">Over mijzelf</label>
            <textarea id="about" name="about" rows="5"></textarea>

            <label for="file">upload een profielfoto</label>
            <input type="file" name="profilePic" />

            <input type="submit" value="Account Aanmaken">

        </form>
    </div>

    <script src="../js/index.js"></script>
</body>
</html>
