    <% include partials/header %>
    <link rel="stylesheet" href="../../styles/_homescreen.css">
</head>
<body>
    <div class="homescreen">
        <% include partials/top-navbar %>
        <main>
            <% include partials/profile-card %>
            <nav class="profiles-nav">
                <a href="./messages">
                    <img src="./images/icons/text.svg" alt="Button to start a conversation">
                </a>
                <a href="#">
                    <img src="./images/icons/heart.svg" alt="Button to like this person">
                </a>
                <a href="#">
                    <img src="./images/icons/cross.svg" alt="Button to move over to the next person">
                </a>
            </nav>
        </main>
    </div>
<% include partials/footer %>





