    <% include partials/header %>
    <link rel="stylesheet" href="../../styles/_homescreen.css">
</head>

  <link rel="stylesheet" href="./styles/_matches.css">
</head>
<body class="matches">
    <% include partials/top-navbar %>

    <div class="container">
        <h1 class="body-l">31 matches in totaal</h1>
        <main>
            <% include partials/matches-card-talking %>
            <% include partials/matches-card %>
            <% include partials/matches-card-talking %>
            <% include partials/matches-card-talking %>
            <% include partials/matches-card %>
            <% include partials/matches-card %>
        </main>
    </div>
<% include partials/footer %>

