  <% include partials/header %>
  <link rel="stylesheet" href="styles/_messages.css">
</head>
<body class="messages">
    <% include partials/top-navbar %>

    <div class="container">
        <h1 class="body-l">24 gesprekken in totaal</h1>
        <main>
            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Nena de Vries, 21</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Anna Vliereboom, 29</h2>
                    <p class="body-m">Ik heb echt het gevoel dat ik met jou fijn kan praten, Jeroen…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small-2.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Robin Hoogoven, 24</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Anna Vliereboom, 29</h2>
                    <p class="body-m">Ik heb echt het gevoel dat ik met jou fijn kan praten, Jeroen…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small-2.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Lisa Annastasia, 26</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Anne-Claire de Wit, 26</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Anna Vliereboom, 29</h2>
                    <p class="body-m">Ik heb echt het gevoel dat ik met jou fijn kan praten, Jeroen…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small-2.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Lisa Annastasia, 26</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>

            <article>
                <img src="images/girl-small.png" alt="Picture of a girl">
                <div class="text-block">
                    <h2 class="title-m black">Anne-Claire de Wit, 26</h2>
                    <p class="body-m">Ik heb het erg gezellig gehad op onze laatste date…</p>
                </div>
                <a href="#"><img src="../images/icons/phone.svg" alt="An icon of a phone"></a>
            </article>
        </main>
    </div>

<% include partials/footer %>
