@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/NexaLight.eot');
  src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NexaLight.woff2') format('woff2'),
      url('../fonts/NexaLight.woff') format('woff'),
      url('../fonts/NexaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Regular';
  src: url('../fonts/Nexa-Regular.eot');
  src: url('../fonts/Nexa-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nexa-Regular.woff2') format('woff2'),
      url('../fonts/Nexa-Regular.woff') format('woff'),
      url('../fonts/Nexa-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-Bold.eot');
  src: url('../fonts/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nexa-Bold.woff2') format('woff2'),
      url('../fonts/Nexa-Bold.woff') format('woff'),
      url('../fonts/Nexa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff'),
      url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
